<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Acasă</title>
</head>
<body>
    <h1>Bine ai venit la proiectul meu!</h1>
    <p>Alege o optiune de mai jos:</p>
    <ul>
        <li><a href="/login">Autentificare</a></li>
        </ul>
</body>
</html>